<!DOCTYPE html>
<html>
    <style>
  body,h1 {font-family: 'Raleway', Arial, sans-serif}
  h1 {letter-spacing: 6px}
  .w3-row-padding img {margin-bottom: 12px}
</style>
    <meta name="viewport" content="width-device-width, intial_scale=1">
<link rel="stylesheet"  href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
  <a href="http://127.0.0.1:5000/intro" class="w3-bar-item w3-button">Machine learning for trading intro </a>
  <a href="http://127.0.0.1:5000/forecast" class="w3-bar-item w3-button">Live forecasting  </a>

</div>
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

<style>
  body,h1 {font-family: 'Raleway', Arial, sans-serif}
  h1 {letter-spacing: 6px}
  .w3-row-padding img {margin-bottom: 12px}
</style>




    <div align="centre" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF=8">
        <title>S&P500 stock forecaster</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </head>


<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div>
  <button class="w3-button w3-black w3-xxlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1></h1>
    <p></p>
    <p></p>
  </div>
</div>
     



</body>
<header class="w3-container w3-teal " >
  <h1 style="color: white"><b>Applied Machine Learning</b></h1>
  <h1>Live forecasting of S&P500 companies </h1>
</header>









  <body style = "background-color: black; padding-top: 10px; ">
          <div class="container">
            <div class="navbar-header">
              <table cellpadding ="5" style="width:80%; background-color:black;">
                <tr>
                  <td>
                       <!-- <img src="static/images/forecast-chart.png" alt="forecast chart" height="79" width="215">
                  </td> -->
                  <td>
                      <H2><p style="text-align:center; color: black">...</p></H2>
                  </td>
                   <td>
                     <!-- <img src="static/images/forecast-chart.png" alt="forecast chart" height="79" width="215"> -->

                  </td>
                </tr>
            </div>
          </div>






    <body style = "background-color: black; padding-top: 10px; ">
          <div class="container">
            <div class="navbar-header">
              <!-- <table cellpadding ="5" style="width:80%; background-color:teal;"> -->
                <tr>
                  <td>
                       <!-- <img src="static/images/forecast-chart.png" alt="forecast chart" height="79" width="215">
                  </td> -->
                  <td>
                      <H2><p style="text-align:center; color: white"></p></H2>
                  </td>
                   <td>
                     <!-- <img src="static/images/forecast-chart.png" alt="forecast chart" height="79" width="215"> -->

                  </td>
                </tr>
            </div>
          </div>

    <h1 style="color: black">.jij</h1>
    <h1><strong style="color: white"> Error: No data available </strong></h4>
    


     </p>


     </p>
    <p></p>
  </div>
</div>
     
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

<style>
  body,h1 {font-family: 'Raleway', Arial, sans-serif}
  h1 {letter-spacing: 6px}
  .w3-row-padding img {margin-bottom: 12px}
</style>

<body>
          
</body>

</html>


  

</div>
<br>

<div class="footer">
  <p>© Bemnet Baraki 2019-2020
</p>
</div>


    <p></p>
  </div>

